@keyframes heartbeat {

  0%,
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }

  10%,
  33% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
}

  /* Animation for slide-in effects */
    @keyframes slideInLeft {
        from {
          opacity: 0;
          transform: translateX(-100px);
        }
      
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes slideInRight {
        from {
          opacity: 0;
          transform: translateX(100px);
        }
      
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
